.repo {
  color: #222;
  margin: 10px;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
}

.repo h2 {
  color: #6e97ff;
}

.repo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
