.left {
  display: inline-block;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

.left img {
  border-radius: 50%;
  border: 1px solid rgb(121, 117, 117);
}
.left h2 {
  font-size: 40px;
}

.Socials {
  text-align: center;
  color: #222;
}

.Icon {
  color: rgb(121, 117, 117);
  font-size: 30px;
  padding: 10px;
}
