.main {
  height: 70vh;
}
.App {
  /* text-align: center; */
  background-color: white;
  min-height: 65vh;
  padding: 50px 50px;
  display: flex;
}

/* Define styles for screens smaller than 768px */
@media (max-width: 768px) {
  .App {
    padding: 20px;
    display: block;
  }
  .leftside,
  .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
